.line{
    height: 2.5rem;
    background-color: blue;
    border: 1px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-line{
    background-color: blue;
    border: 1px solid white;

}

.sub-line{
    height: 2.5rem;
    background-color:rgb(6, 215, 6);
    border: 1px solid blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}